.job-card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 30px 3em;
  box-shadow: -5px 10px 20px var(--cyan-shadow);
  border-radius: 8px;

  .line {
    display: none;
  }

  .left__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5em;

    img {
      min-width: 100px;
      min-height: 100px;
    }

    .data__box {
      height: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      justify-content: space-between;

      .list-data__job {
        display: flex;
        align-items: center;
        column-gap: 1em;

        li {
          font-weight: 700;

          &:first-child {
            color: var(--cyan);
            font-size: 1.1em;
          }

          &:nth-child(2),
          &:nth-child(3) {
            padding: 6px 10px 4px 10px;
            font-size: 0.9em;
            color: var(--white);
            text-transform: uppercase;
            border-radius: 15px;
          }

          &:nth-child(2) {
            background-color: var(--cyan);
          }

          &:nth-child(3) {
            background-color: var(--cyan-dark-bg);
          }
        }
      }

      .name__job {
        p {
          text-transform: capitalize;
          font-size: 1.5em;
        }
      }

      .details__job {
        display: flex;
        align-items: center;
        column-gap: 1em;
        color: var(--cyan-dark);

        .dot {
          padding: 2px;
          border-radius: 50%;
          background-color: var(--cyan-dark);
        }

        li:nth-child(3) {
          text-transform: capitalize;
        }
      }
    }
  }

  .skill-required__box {
    column-gap: 0.5em;

    li {
      color: var(--cyan);
      padding: 0.5em 1em;
      font-weight: 700;
      border-radius: 5px;
      background-color: var(--cyan-bg);
    }
  }
}

.d-none {
  display: none;
}

.border-new {
  border-left: 5px solid var(--cyan);
}

@media screen and (max-width: 1200px) {
  .job-card__container {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 1.5em;
    padding: 4em 1.5em 1.5em 1.5em;

    .line {
      display: block !important;
      width: 100%;
      height: 1px;
      background-color: var(--cyan-opacity);
    }

    .left__box {
      img {
        min-width: 60px;
        min-height: 60px;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
      }

      .data__box {
        .name__job {
          p {
            font-size: 1em;
          }
        }

        .details__job {
          font-size: .9em;

          .dot {
            padding: 2px;
            border-radius: 50%;
            background-color: var(--cyan-dark);
          }

          li:nth-child(3) {
            text-transform: capitalize;
          }
        }
      }
    }

    .skill-required__box {
      gap: 1em;
      flex-wrap: wrap;
    }
  }
}
